<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Student Information Display</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/index">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                 <li><a href="/contact" class="text-info">Contact Us</a></li>
               
               
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/form"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/admin"><span class="glyphicon glyphicon-log-in"></span>  Show Details</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container text-center">
        <img src="2nd.jpg" alt="Meraj" width="1480" height="600">
        <h1 style="color:blue;">Welcome to the University Portal</h1>
         <p>
      
        <p > Provide here Your Student Information Details.
        <p> If You want to Know more about the University. Send Your Queries by clicking on 'Contact us' tab on upper-right corner. We will Respond You Soon.
        <p>  Explore the University with us. 
      
 </p>
    </div>
</div>


<footer class="container-fluid text-center">
    <label>Developed By: Merajuddin Ahmad</label><br>
    <label>meraj.amu77@gmail.com</label><br>
    
</footer>

</body>
</html>